{% extends "base.html.j2" %}

{% block content %}


<h1>Chateau des Pupalôts winery</h1>
<h2><del>un</del>official website</h2>

<p>Non-professional juice ruining since 2017</p>

<hr/>

<p id="p01">
  For more information click
    <a href="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" title="Just click it">here</a>.
</p>

<p id="p02">
  A more or less comprehensive list of our most loyal customers can be found
  <a href="https://en.wikipedia.org/wiki/List_of_deaths_through_alcohol" title="A link">here</a>.

</p>

<div class="container">
<div class="lorem">
  <h2>The story of our winery</h2>

  <p>
    Our long story started way back in the summer of 2017, when our founder Santeri realized
    that alcohol is hella expensive. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis laoreet euismod convallis.
    Donec in turpis magna. Nullam interdum est et erat rutrum, quis finibus est sodales.
    Aliquam id faucibus erat. Quisque condimentum lectus et dolor congue, eu sollicitudin purus condimentum.
    Nullam quam dolor, fermentum non lorem faucibus, auctor pharetra neque.
    In sodales elementum massa, faucibus lacinia eros. Etiam non placerat orci.
    Vivamus vel elit efficitur, interdum augue ac, vestibulum ex.
    Pellentesque efficitur faucibus neque eu pretium. Vestibulum sed libero vehicula, dapibus mauris non,
    varius leo. Vivamus vel ornare justo, vitae interdum tortor. Mauris sed rutrum quam, ac tincidunt massa.
    Curabitur quis nisi eu odio rhoncus rhoncus.
  </p>
  <p>
    Quisque metus velit, congue a viverra a, mattis sit amet ipsum. Mies meni kauppaan.
    Sed luctus pellentesque diam nec finibus. Integer at molestie lorem. Lapio.
    Nullam vitae egestas dui. Quisque mattis metus id lorem tempor congue. In id rutrum nibh, ut
    rhoncus lacus. Sed convallis nibh in dolor pulvinar faucibus. Suspendisse gravida, mauris in viverra
    pulvinar, odio metus facilisis tortor, nec tempor nunc sem non dolor. Curabitur ullamcorper lacus
    nec felis laoreet aliquam. Etiam quis massa id neque molestie consequat.
  </p>
  <p>
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
    of classical Latin literature from 45 BC, making it over 2000 years old. Richard
    McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
    more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
    cites of the word in classical literature, discovered the undoubtable source.
    Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
    (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
    theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
    "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
  </p>
  <p>
    Also, did you know, that ultrasound has the frequency? Nulla nec sollicitudin nisi. Phasellus feugiat, eros a egestas commodo, odio nulla condimentum enim,
    at imperdiet libero felis nec urna. Sed pulvinar ut dui id venenatis. Proin et ultrices sem. Morbi
    interdum ac odio nec tristique. Pellentesque ornare, ligula et dictum auctor, felis neque eleifend
    nisl, vel consectetur libero neque eu dolor. Cras in enim eu erat placerat blandit sed a leo. Sed
    non dictum leo, et pellentesque justo. Vestibulum sit amet neque vel risus mollis euismod in
    sagittis justo. Proin egestas dapibus tortor, vel vestibulum ex tempus non. Ut eleifend turpis
    in neque pretium condimentum. Mauris at felis vel dui suscipit mollis.
  </p>
  <p>
    Cras laoreet massa vitae nisl fringilla posuere eget vel ligula. Duis et neque rutrum,
    hendrerit sapien quis, mollis tellus. Nam cursus ultrices massa ac rhoncus. In venenatis
    magna ut metus malesuada, quis finibus neque dignissim. Ut mollis gravida sapien nec
    eleifend. Integer nisi lorem, aliquam sit amet massa laoreet, facilisis fringilla massa.
    Are you really reading this? Mauris accumsan ante magna, vel placerat lectus lobortis quis.
    Curabitur bibendum cursus augue vel mollis. Quisque quam elit, congue in blandit placerat, ullamcorper sit amet ex.
    Maecenas eros sem, feugiat at metus vitae, placerat aliquam nulla. Morbi felis libero, porta
    eu lorem non, consectetur posuere nisi. Cras vitae velit quis lectus porttitor fringilla.
    Duis lobortis porta ligula, vitae posuere lectus tempus eget. Vivamus fringilla, sem sed
    aliquam iaculis, lacus ex pretium orci, tempor gravida tellus felis vitae dui.
  </p>
  <p>
    Nullam a finibus metus, vel sodales turpis. Curabitur quis commodo magna. Ut dignissim
    dolor a magna ultricies, sit amet laoreet enim dapibus. Nunc quis diam in velit dictum
    bibendum ut in leo. Duis tempus molestie elit interdum vehicula.
    Etiam varius ligula non tellus tincidunt, non pretium turpis commodo. Cras vehicula,
    nulla et rutrum ultricies, lectus sapien scelerisque ex, ac porta tellus neque id diam.
    Proin dictum egestas diam, vel tincidunt nibh. Pellentesque venenatis purus aliquam, mattis
    ante quis, egestas nibh. Etiam et erat magna. Donec pulvinar ipsum vehicula, sodales velit
    eu, vehicula dui. Pellentesque at ligula congue, lacinia augue aliquam, ornare metus.
  </p>
</div>
</div>


<br/>


{% endblock %}
