{% extends "base.html.j2" %}

{% block content %}


<h1>Chateau des Pupalôts winery</h1>
<h2><del>un</del>official website</h2>

<p>Non-professional juice ruining since 2017</p>

<hr/>

<p id="p01">
  For more information click
    <a href="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" title="Just click it">
      here
    </a>
  .
</p>

<p id="p02">
  If you drink our wine, this could be you:
</p>

<iframe id="i1" name="laatikko" src="https://en.wikipedia.org/wiki/List_of_deaths_through_alcohol" width="750px" height="500px"></iframe>

<br/>


{% endblock %}
