body {
  background: linear-gradient(-25deg, powderblue, rgba(256, 256, 256, 1), rgba(0, 50, 256, 0.3));
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

#p01 {
	font-size: 150%;
}

#p02 {
	margin-top: 100px;
	margin-bottom: 100px;
}

footer {
	font-size: 75%;
	background-color: black;
	color: white;
	text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

#footerText {
  padding-left: 40px
}


a#git{
  color: white;
  text-decoration: none;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px
}

div.lorem {
  /*display: flex;*/
  max-width: 1000px;
  font-size: 110%;
}

div.lorem p {
  padding: 10px;
  text-align: justify;
}

div.loremus p {
  margin: auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
}
